@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "SFProDisplay";
    color: #000000;
    font-style: normal;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    padding: 12px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #161616;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_nav_box1{
    display: flex;
    padding-left: 100px;
}
.header_nav_box2{
    display: flex;
}
.header_nav_box3{
    display: flex;
}
.header_nav_box4{
    display: flex;
}
.header_menu_link{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #161616;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
}
.header_menu_link:hover{
    color: #9c9c9c;
}
.header_menu_lang{
    font-size: 14px;
    font-weight: 400;
    color: #CACACA;
    transition: 0.3s;
}
.header_menu_lang:hover{
    color: #161616;
}
.header_box1{
    margin: 0 10.5px;
}
.header_box4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.header_lang{
    margin: 0 3.5px;
}
.header_icon{
    margin-right: 10px;
}
.header_box4_hidden{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20.48px 24.5px 20.48px 24.5px;
    position: absolute;
    top: 57.5px;
    visibility: hidden;
    transition: 0.1s;
}
.header_box4:hover>.header_box4_hidden{
    visibility: visible;
}
.header_icons{
    transition: 0.3s;
    margin-right: 17px;
}
.header_icons:hover{
    transform: scale(1.2);
}
.header_icons:last-child{
    margin-right: 0;
}
