@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "SFProDisplay";
    src: url("../fonts/SFProDisplay-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "SFProDisplay";
    color: #000000;
    font-style: normal;
    overflow-x: hidden;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    padding: 12px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #161616;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_nav_box1{
    display: flex;
    padding-left: 100px;
}
.header_nav_box2{
    display: flex;
}
.header_nav_box3{
    display: flex;
}
.header_nav_box4{
    display: flex;
}
.header_menu_link{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #161616;
    text-transform: uppercase;
    transition: 0.3s;
    position: relative;
}
.header_menu_link:hover{
    color: #9c9c9c;
}
.header_menu_lang{
    font-size: 14px;
    font-weight: 400;
    color: #CACACA;
    transition: 0.3s;
}
.header_menu_lang:hover{
    color: #161616;
}
.header_box1{
    margin: 0 10.5px;
}
.header_box4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}
.header_lang{
    margin: 0 3.5px;
}
.header_icon{
    margin-right: 10px;
}
.header_box4_hidden{
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20.48px 24.5px 20.48px 24.5px;
    position: absolute;
    top: 57.5px;
    visibility: hidden;
    transition: 0.1s;
}
.header_box4:hover>.header_box4_hidden{
    visibility: visible;
}
.header_icons{
    transition: 0.3s;
    margin-right: 17px;
}
.header_icons:hover{
    transform: scale(1.2);
}
.header_icons:last-child{
    margin-right: 0;
}
/* section2 */
.section2{
    margin: 0 auto;
    width: 1600px;
    margin-top: 140px;
}
.sec2_all_text{
    display: flex;
}
.left_text{
    margin-left: 400px;
    width: 514px;
}
.sec2_subtext{
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}
.sec2_text{
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;
}
.sec2_bigtext{
    font-weight: 500;
    font-size: 14px;
    width: 383px;
    margin-left: 86px;
}
.section2_i{
    border: 1px solid #161616;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img2{
    margin-left: 402px;
    margin-top: 150px;
}
.sec2_bigtext2{
    font-weight: 500;
    font-size: 14px;
    width: 398px;
    margin-left: 1001px;
    margin-top: 150px;
}
/* section3 */
.section3{
    margin: 0 auto;
    width: 1600px;
    margin-top: 112px;

}
.sec3_text{
    font-weight: 500;
    font-size: 48px;
    width: 507px;
    margin-left: 403px;
}
.boxes{
    display: flex;
    margin-left: 403px;
    margin-top: 70px;
}
.box_with_arrow{
    display: flex;
    align-items: center;
}
.box_text{
    font-weight: 500;
    font-size: 18px;
    width: 226px;
    margin-left: 30px;
}
.box_text2{
    font-weight: 500;
    font-size: 18px;
    width: 283px;
    margin-left: 30px;
}
.box_with_arrow1{
    display: flex;
    align-items: center;
    margin-right: 84px;
}
.sec3_text1{
    font-weight: 500;
    font-size: 48px;
    width: 382px;
    margin-left: 800px;
    margin-top: 150px;
}
.sec3_subtext{
    font-weight: 500;
    font-size: 14px;
    width: 397px;
    margin-left: 800px;
    margin-top: 40px;
}
.btn1{
    width: 400px;
    height: 60px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 800px;
    margin-top: 40px;
    background-color: white;
    cursor: pointer;
}
/* section4 */
.section4{
    margin: 0 auto;
    width: 1600px;
    margin-top: 143px;
}
.sec4_text{
    font-weight: 500;
    font-size: 64px;
    text-transform: uppercase;
    margin-left: 402px;
}
.model{
    display: flex;
    margin-left: 401px;
    margin-top: 70px;
}
.model_text{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 31px;
}
.model1{
    display: flex;
    margin-left: 401px;
    margin-top: 40px;
}
.btn2{
    width: 400px;
    height: 60px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 402px;
    margin-top: 70px;
    background-color: white;
    cursor: pointer;
}
/* section5 */
.section5{
    margin: 0 auto;
    width: 1600px;
    margin-top: 150px;
}
.sec4_line{
    margin-left: 401px;
}
.sec5_text{
    font-weight: 600;
    font-size: 64px;
    text-transform: uppercase;
    margin-left: 401px;
    margin-top: 40px;
}
.sec5_img1{
    margin-left: 401px;
    margin-top: 40px;
}
.sec5_img2{
    margin-left: 401px;
    margin-top: 150px;
    width: 289px;
    height: 289px;
}
.two_img{
    display: flex;
    flex-direction: column;
}
.sec5_img3{
    margin-left: 401px;
    margin-top: 20px;
    width: 289px;
    height: 289px;
}
.firsts_img{
    display: flex;
}
.sec5_img4{
    margin-left: 108px;
    margin-top: 150px;
}
.sec5_text1{
    font-weight: 600;
    font-size: 18px;
    width: 376px;
    margin-left: 200px;
}
.seconds_img{
    display: flex;
    margin-left: 401px;
    margin-top: 150px;
}
.sec5_img6{
    margin-left: 197px;
    margin-top: 162px;
}
.lower_part{
    display: flex;
    margin-left: 421px;
}
.sec5_img7{
    margin-top: 20px;
    margin-left: 196px;
}
.sec5_left_texts{
    margin-top: 100px;
}
.sec5_left_text{
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 15px;
}
.btn3{
    width: 400px;
    height: 60px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 70px;
    background-color: white;
    margin-left: -19px;
}
.lower_line{
    margin-left: 401px;
    margin-top: 70px;
}
.section3_i{
    border: 1px solid #161616;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3_i:first-child{
    margin-right: 80px;
}
.arrows{
    display: flex;
    margin-left: 800px;
    margin-top: 70px;
}
/* section6 */
.section6{
    margin: 0 auto;
    width: 1600px;
}
.sec6_text{
    font-weight: 600;
    font-size: 48px;
    width: 600px;
    margin-left: 801px;
    margin-top: 150px;
}
.sec6_subtext{
    font-weight: 500;
    font-size: 18px;
    margin-left: 801px;
    margin-top: 40px;
}
.sec6_imgs{
    display: flex;
    margin-left: 800px;
}
.sec6_img{
    width: 48px;
    height: 48px;
    margin-right: 40px;
    margin-top: 50px;
    transition: 0.3s;
}
.sec6_img:hover{
    transform: scale(1.2);
}
/* footer */
footer{
    margin: 0 auto;
    width: 1600px;
    margin-top: 150px;
}
.rect{
    background-color: #161616;
    padding-left: 200px;
    padding-top: 62px;
    padding-bottom: 17px;
}
.text_foot{
    font-weight: 600px  ;
    font-size: 14px;
    color: white;
}
.foot{
    display: flex;
    align-items: center;
}
.right_text_upper_line{
    display: flex;
    margin-left: 498px;
    margin-top: 6px;
}
.com_text{
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    margin-left: 17px;
}
.upper_line_foot{
    display: flex;
}
.com{
    display: flex;
    align-items: center;
    margin-right: 98px;
}
.middle_line{
    display: flex;
}
.left_middle_line_text{
    font-weight: 400;
    font-size: 14px;
    color: white;
    width: 400px;
    margin-left: 54px;
    margin-top: 46px;
}
.right_middle_line_text{
    display: flex;
    margin-left: 145px;
    margin-top: 40px;
}
.column1_text{
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-bottom: 17px;
}
.column2_text{
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 78px;
}
.column3_text{
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-left: 58px;
    margin-bottom: 17px;
}
.foot_low_line{
    margin-left: 54px;
}
.bottom_line{
    display: flex;
    margin-top: 17px;
    margin-left: 54px;
    }
.bottom_line_text1{
    font-weight: 400;
    font-size: 14px;
    color: white;
    margin-right: 339.5px;
}
.footer_l{
    margin-right: 33px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #FFFFFF;
}
.footer_l:last-child{
    margin-right: 0;
}
.footer_l:hover{
    color: #515151;
}